html {box-sizing:border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	width: 500px;
	font-family:tahoma;
}

#accordion {
	width:400px;
	list-style:none;
	margin:30px auto;
}

li a {
	display:block;
	height:40px;
	line-height:40px;
	color:white;
	background:rgb(0,198,214);
	text-decoration:none;
	padding-left:20px;

}

li a:hover {
	background:rgb(0,218,236);
}

section {
	height:0;
	overflow:auto;
}

section p {
	padding:20px;
}


